<doctype html>
    <html>
    <head>
        <title>IntDev Darts ranking</title>
        <link rel=stylesheet href='stylesheets/style.css'>
        <style>
            .active {
                background-color: black;
                color: white;
            }
        </style>
    </head>
    <body>
        <script src='EloRank.js'></script>

        <script>

            var game;
            var elo = new EloRank();

            function Player(name, rating) {
                this.name = name;
                this.rating = rating || 1000;
            }

            var players = [
                new Player('Илья К', 1000),
                new Player('Илья Б', 1000),
                new Player('Серёжа', 1000)
            ];


            window.onload = renderPlayers;

            function renderPlayers() {

                var playersList = document.getElementById('playersList');
                playersList.innerHTML = '';

                var t = document.getElementById('playerTemplate');
                var span = t.content.querySelector('span');
                players.forEach(function (player) {
                    span.textContent = player.name + '(' + player.rating + ')';

                    var li = document.createElement('li');
                    li.id = player.name;

                    var clone = document.importNode(t.content, true);
                    li.appendChild(clone);

                    playersList.appendChild(li);
                })
            }

            function shoot(event) {

                var input = document.getElementById('nextShot');

                game.throw(parseInt(input.value));

                input.value = '';
                input.focus();
            };

            function startNewGame() {
                var selectedPlayers = players.filter(function (player) {

                    var node = document.getElementById(player.name);

                    return node.childNodes[1].checked;
                });

                var gameTable = document.getElementById('gameTable');


                game = new Game(selectedPlayers, gameTable);
                game.render();

                document.querySelector('form input').focus();
            };

            function Game(players, container) {

                var game = this;

                this.players = players;
                this.currentPlayer = players[0];
                this.score = [];

                players.forEach(function (player, index) {
                    game.score[player.name] = [301];
                });

                this.container = container;
            }

            Game.prototype.render = function () {
                var game = this;

                var tableHeader = this.container.querySelector('thead tr');
                var tbody = this.container.querySelector('tbody');
                tableHeader.innerHTML = '';
                tbody.innerHTML = '';

                this.players.forEach(function (player) {

                    var th = document.createElement('th');
                    th.textContent = player.name;

                    if (player === game.currentPlayer) {
                        th.classList.add('active');
                    }

                    tableHeader.appendChild(th);
                });

                var firstPlayer = this.players[0];
                var rounds = this.score[firstPlayer.name].length;

                for (var i = 0; i < rounds; i++) {
                    var tr = document.createElement('tr');

                    game.players.forEach(function (player) {
                        var td = document.createElement('td');
                        td.textContent = game.score[player.name][i];

                        tr.appendChild(td);
                    });

                    tbody.appendChild(tr);
                }
            }

            Game.prototype.throw = function (score) {
                var currentPlayerScores = this.score[this.currentPlayer.name];

                var lastScore = this.score[this.currentPlayer.name].last();

                if (lastScore < score) {
                    currentPlayerScores.push(lastScore);
                } else {
                    currentPlayerScores.push(lastScore - score);
                }

                if (this.currentPlayer === this.players.last()) {
                    this.validateWinner();
                }

                this.setNextPlayer();

                this.render();
            }

            Game.prototype.endGame = function () {

            };

            Game.prototype.validateWinner = function () {
                var game = this;

                this.winners = this.players.filter(function (player) {
                    return game.score[player.name].last() === 0;
                });

                this.winners.forEach(function (player) {
                    game.updateRating(player);
                });

            };

            Game.prototype.updateRating = function (winner) {
                var game = this;

                var losers = this.players.filter(function (player) {
                    return game.score[player.name].last() > 0;
                });

                losers.forEach(function (loser) {

                    elo.updateRatings(winner, loser)
                });

                renderPlayers();
            };

            Game.prototype.setNextPlayer = function () {
                var currentPlayerIndex = this.players.indexOf(this.currentPlayer);

                if (this.score.every(function (score) {
                    score.last() === 0;
                })) {
                    this.endGame();
                    return;
                }

                if (currentPlayerIndex === this.players.length - 1) {
                    this.currentPlayer = this.players[0];
                } else {
                    this.currentPlayer = this.players[currentPlayerIndex + 1];
                }

                if (this.score[this.currentPlayer.name] === 0) {

                    this.players.splice(currentPlayerIndex, 1);
                    this.setNextPlayer();
                }
            }

            Array.prototype.last = function () {
                return this[this.length - 1];
            }

        </script>

        <ul id='playersList'></ul>
        <button onclick="startNewGame()">Погнали</button>

        <table id="gameTable">
            <thead>
                <tr></tr>
            </thead>
            <tbody>
                <tr></tr>
            </tbody>
        </table>

        <form>
            <input type="text" id="nextShot" />
            <button onclick="shoot(); return false;">Fire in the hole!</button>
        </form>
    </body>
</html>


<template id='playerTemplate'>
    <input type='checkbox'>
    <span></span>
</template>



