<doctype html>
    <html>
    <head>
        <title>IntDev Darts ranking</title>
        <link rel=stylesheet href='stylesheets/style.css'>
        <style>
            .active {
                background-color: black;
                color: white;
            }
        </style>
    </head>
    <body>
        <script src='EloRank.js'></script>
        <script src='Darts.js'></script>

        <script>

            var game;
            var elo = new OnlinerRank();

            function Player(name, rating) {
                this.name = name;
                this.rating = rating || 1000;
            }

            var players = loadPlayers();

            window.onload = renderPlayers;

            function renderPlayers() {

                var playersList = document.getElementById('playersList');
                playersList.innerHTML = '';

                var t = document.getElementById('playerTemplate');
                var span = t.content.querySelector('span');
                players.forEach(function (player) {
                    span.textContent = player.name + '(' + player.rating + ')';

                    var li = document.createElement('li');
                    li.id = player.name;

                    var clone = document.importNode(t.content, true);
                    li.appendChild(clone);

                    playersList.appendChild(li);
                })
            }

            function loadPlayers() {
                return JSON.parse(window.localStorage.getItem('dartsPlayers')) || [];
            }

            function savePlayers(players) {
                window.localStorage.setItem('dartsPlayers', JSON.stringify(players));
            }

            function shoot(event) {

                var input = document.getElementById('nextShot');

                if (input.value === '') {
                    game.throw(0);

                } else {
                    game.throw(parseInt(input.value));
                }

                input.value = '';
                input.focus();
            };

            function startNewGame() {
                var selectedPlayers = players.filter(function (player) {

                    var node = document.getElementById(player.name);

                    return node.childNodes[1].checked;
                });

                var gameTable = document.getElementById('gameTable');


                game = new Game(selectedPlayers, gameTable);
                game.render();

                document.querySelector('#shotForm input').focus();
            };

            function addPlayer() {
                var name = document.getElementById('newPlayer').value;

                var newPlayer = new Player(name, 1000);
                players.push(newPlayer);

                savePlayers(players);
                renderPlayers();
            }

            function endGame() {
                game.endGame();
            }
        </script>

        <form action="/" method="post">
            <input type="text" id="newPlayer" placeholder="New Player"/>
            <button onclick="addPlayer(); return false;">Register</button>
        </form>

        <ul id='playersList'></ul>
        <button onclick="startNewGame()">Погнали</button>

        <table id="gameTable">
            <thead>
                <tr></tr>
            </thead>
            <tbody>
                <tr></tr>
            </tbody>
        </table>

        <form id="shotForm">
            <input type="text" id="nextShot" />
            <button onclick="shoot(); return false;">Fire in the hole!</button>
        </form>

        <button onclick="endGame()">End game</button>
    </body>
</html>


<template id='playerTemplate'>
    <input type='checkbox'>
    <span></span>
</template>



